# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
env/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db